<mat-card
  [ngClass]="{ 'stock-limite': product.stock === 1 }"
  appearance="outlined"
>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ product.title }} ({{ product.stock }})</mat-card-title>
      <mat-card-subtitle>{{ product.price }}€</mat-card-subtitle>
      <img mat-card-sm-image src="{{ product.photo }}" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    {{ product.description }}
    <div>
      <button mat-button color="primary" (click)="onClickAcheter()">
        Acheter
      </button>
    </div>
  </mat-card-content>
</mat-card>
