<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>Grand prix de Belcastel</mat-card-title>
      <mat-card-subtitle>50€</mat-card-subtitle>
      <img mat-card-sm-image src="img/belcastel-xl.png" />
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    Faites avancer votre animal en le nourrissant et ainsi tenter de remporter
    la course du chaudron d'or !
    <div>
      <button mat-button color="primary">Acheter</button>
    </div>
  </mat-card-content>
</mat-card>
